body {
    font-family: 'Oswald', sans-serif;
}

.img-circle {
    width:300px;
    height:300px;
    border-radius:150px;
}

h4 {
    font-family: 'Open Sans', sans-serif;
}

.open {
  font-family: 'Open Sans', sans-serif;
}



.carousel-indicators {
  top: 120px;

}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  color: #373A3C;
}

.boton {
  color: #373A3C;
}


.oscuro {
  background-color: #373A3C;
}

.otro {
  color: #373A3C;
}

.icono {
  color: #373A3C;
}

a {
  color: #ffffff;
}

.negro {
  color: #373A3C;
}

.rounded {
  background-color: #373A3C;
}
